nav{
  display: flex;
  background: #a1a1a1;
  justify-content: space-between;
  align-items: center;
}
.logo{
  padding: 0px;

}
img{
  display: block;
}
.logo:hover{
  background: #a1a1a1;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav a {
  display: block;
  padding: 16px 8px;
  text-decoration: none;
  color: black;
}
nav a:hover{
  background: #008888;
}
